@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --themecolor: rgb(17, 125, 226);
  --lightblack: rgba(0, 0, 0, 0.753);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-themecolor: var(--themecolor);
  --color-lightblack: var(--lightblack);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles  */
.shadow-custom:hover,.shadow-custom-black:active ,.shadow-custom:hover,.shadow-custom-black:active{
  box-shadow: 2px 2px 10px var(--themecolor), -2px -2px 10px var(--themecolor);
}

.shadow-custom-black:hover,.shadow-custom-black:active,.shadow-custom-black:focus {
  box-shadow: 2px 2px 10px black, -2px -2px 10px black;
}

.light-black {
  background-color: rgba(0, 0, 0, 0.877);
}

